{% extends "app/base.html" %}
{% block title %}Kreiraj račun{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<div class="input-group mb-3">
<div>
    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" id="mybutton2", class="btn btn-success">Registracija</button>
    </form>
</div>
</div>    
{% endblock %}