  
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/main.css' %}">


    {% if title %}
        <title>Aplikacija - {{ title }}</title>
    {% else %}
        <title>Aplikacija</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">Aplikacija za prikaz bolesti po simptomima</a>
          
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
               {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{%url 'user' user.id%} ">Korisnik: {{ user.get_username }}</a>
                  {%if user.is_superuser%}
                  <a class="nav-item nav-link" href="/admin">Admin</a>
                  {%endif%}
                  <a class="nav-item nav-link" href="{% url 'logout'%}?next={{request.path}}">Odjava</a> 
              {% else %}
                   <a class="nav-item nav-link" href="{% url 'login'%}?next={{request.path}}">Prijava</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div id= "mydiv" class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        <div id="mydiv2" class="col-md-4">
          
            {% if user.is_authenticated %}
            <p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"> <a href="{%url 'bolesti'%}">Pregled bolesti</a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'ljecnici'%}">Pregled lječnika</a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'm-pregled'%}">Moji pregledi</a></li>
                {% if user.is_staff %}
                
                
                <li class="list-group-item list-group-item-light"> <a href="{% url 'l-pregled'%}">Nepotvrđeni pregledi</a></li>
                {%endif%}
                {%if user.is_superuser%}
                <li class="list-group-item list-group-item-light"> <a href="{% url 'ljecnik-novi'%}">Unos lječnika</a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'bolest-novi'%}">Unos bolesti</a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'simptomi'%}">Lista simptoma</a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'simptom-novi'%}">Unos prvih simptoma</a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'simptom2-novi'%}">Unos drugih simptoma</a></li>
                <li class="list-group-item list-group-item-light"> <a href="{% url 'simptom3-novi'%}">Unos trećih simptoma</a></li>

                {%endif%}
              </ul>
            </p>
            {% endif %}
          </div>
        
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script>
        $('#id_dat_pregleda').datepicker({format: 'dd.mm.yyyy'});
    </script>
    <script>
        $('#id_vrijeme').timepicker();
    </script>
    

    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var map;
      var service;
      var infowindow;

      function initMap() {
        

        infowindow = new google.maps.InfoWindow();

        map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15});

        var request = {
          query: '{{ljecnik.lokacija}}',
          fields: ['name', 'geometry'],
        };

        service = new google.maps.places.PlacesService(map);

        service.findPlaceFromQuery(request, function(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              createMarker(results[i]);
            }

            map.setCenter(results[0].geometry.location);
          }
        });
      }

      function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACegIHx2Yy6zJZNUefeaW2cRSwMsACUQI&libraries=places&callback=initMap" async defer></script>


    
</body>
</html>