{% extends "app/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="input-group mb-3">
<div >
  <form class = " form-row align-items-center" method ="GET" style="padding-bottom: 40px;">
<button type ="submit" id="mybutton" class = "btn btn-primary">Filtriraj</button>
{{filter.form|crispy}}

</form>
</div>
</div>
<div style="padding-top: 20px;">
	<h4>Lista svih bolesti</h4>
  {% if bolest_list %}
    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Naziv</th>
      {% if user.is_superuser %}
      <th scope="col"></th>
      <th scope="col"></th>
      {%endif%}
        </tr>
      </thead>
  {% for bolest in filter.qs %}
   <tbody>
      
      <td><a href="{{ bolest.get_absolute_url}}">{{bolest.naziv}}</a></td>  
      {% if user.is_superuser %}
      <td><a href="{% url 'bupdate' bolest.id %}">Ažuriraj</a></td>
      <td><a href="{% url 'bolest-brisi' bolest.id %}">Izbriši</a></td> 
      {%endif%}
      </tbody>
      {% endfor %}
      </table>



</div>
{%endif%}	
{% endblock %}
