{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- <form method="post" action="" >
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
       <input type="submit" value="Submit" /> 


    </form>-->
    <form method="get" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="input-group mb-3">
  <div class="input-group-append">
    
    <button type="submit" class="btn btn-success">Nastavi</button>
</div>
</div>

  </form>


{% endblock %}
