{% extends "app/base.html" %}

{% block content %}

<h1>Naziv bolesti: {{ bolest.naziv }}</h1>
<h3>Lječnik:</strong><a href="{% url 'ljecnik-opis' bolest.ljecnik.pk %}"> {{ bolest.ljecnik }}</a></h3>
<div style="margin-left:20px;margin-top:20px">
<h4>Simptomi</h4>
<p><strong>Prvi simptom:</strong> {{ bolest.simptom }}</p>
<p><strong>Drugi simptom:</strong> {{ bolest.simptom2 }}</p>
<p><strong>Treći simptom:</strong> {{ bolest.simptom3 }}</p>
</div>




{% endblock %}