{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Početna stranica</h1>

<p>Dostupni zapisi:</p>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="{% url 'bolesti'%}">Bolesti</a>
    <span class="badge badge-primary badge-pill">{{br_bolesti}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a href="{% url 'ljecnici'%}">Lječnici</a>
    <span class="badge badge-primary badge-pill">{{br_ljecnika}}</span>
  </li>
</ul>




{%endblock content%}