{% extends "app/base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Popis Lječnika</h1>

    {% if ljecnik_list %}
    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Naziv</th>
      <th scope="col">Telefon</th>
      <th scope="col">OIB</th>
      <th scope="col">Lokacija</th>

      {% if user.is_superuser %}
      <th scope="col"></th>
      <th scope="col"></th>
      {%endif%}
        </tr>
      </thead>

      {% for ljecnik in ljecnik_list %}
      <tbody>
      
      <td><a href="{{ ljecnik.get_absolute_url }}">{{ljecnik.prezime}},{{ljecnik.ime}}</a></td> 
      <td>{{ljecnik.telefon}}</td> 
      <td>{{ljecnik.oib}}</td> 
      <td>{{ljecnik.lokacija}}</td> 
      {% if user.is_superuser %}
      <td><a href="{% url 'ljupdate' ljecnik.id %}">Ažuriraj</a></td> 
      <td><a href="{% url 'ljecnik-brisi' ljecnik.id %}">Izbriši</a></td> 
      {%endif%}
      </tbody>
      {% endfor %}
      </table>

  

    {% else %}
      <p>Nema lječnika.</p>
    {% endif %}   
    {%endif%}    
{% endblock %}