{% extends "app/base.html" %}

{% block content %}

<h1>Lječnik: {{ ljecnik }} </h1>
<p>Telefon: {{ljecnik.telefon}} </p>
<p>OIB: {{ljecnik.oib}}</p>
<p>Lokacija: {{ljecnik.lokacija}}</p>
<p>Opis: {{ljecnik.opis}}</p>
<p><a href="{% url 'pg' ljecnik.id %}" class = "btn btn-primary" style= "position: relative; left: 0%">Zatraži pregled</a></p>

<style>
      
      #mydiv{
        padding-top: 10%;
      	padding-bottom: 300px;
      }
      #mydiv2{
      	padding-top: 10%
        
      }
      #map {
        height: 100%;
        width: 60%

      }
    
      html, body {
        height: 100%;
        
        margin: 0;
        padding : 0;
      }
    </style>

<div class =""col-md-8 id="map"></div>


{% endblock %}
