{% extends "app/base.html" %}

{% block content %}
    <h1>Popis Neprihvaćenih pregleda</h1>

    {% if pregled_list %}
    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Naziv</th>
      <th scope="col">Korisnik</th>
      <th scope="col">Boelst</th>

      {% if user.is_staff %}
      <th scope="col"></th>
      {%endif%}
        </tr>
      </thead>

      {% for p in pregled_list %}
      <tbody>
      
      <td>{{p.naziv}}</a></td> 
      <td>{{p.use}}</td>  
      <td>{{p.bolest}}</td>  
      {% if user.is_staff %}
      <td><a href="{% url 'lupdate' p.id %}">Potvrdi</a></td> 
      {%endif%}
      </tbody>
      {% endfor %}
      </table>
    {% else %}
      <p>Nema  pregleda.</p>
    {% endif %}       
{% endblock %}