{% extends "app/base.html" %}

{% block content %}
    <h1>Moji pregledi</h1>

    {% if pregled_list %}
    <div class="list-group">

      {% for p in pregled_list %} 
      <a class="list-group-item list-group-item-action flex-column align-items-start">
      
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{p.naziv}}</h5>
          <small>({{ p.dat_pregleda }})</small>
        </div>
        <small>({{ p.vrijeme }})</small>
      </a>
      {% endfor %}
     </div>

    {% else %}
      <p>Nema prihvaćenih pregleda.</p>
    {% endif %}       
{% endblock %}