{% extends "app/base.html" %}

{% block content %}
{% if user.is_authenticated %}
    
  <h1>Popis Svih simptoma</h1>
  <hr>
    {% if Simptom %}
    <h5>Popis Prvih simptoma</h5>
    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Naziv</th>
      {% if user.is_superuser %}
      <th scope="col"></th>
      <th scope="col"></th>
      {%endif%}
        </tr>
      </thead>

      {% for simptom in Simptom %}
      <tbody>
      
      
      <td>{{simptom.naziv}}</td> 
   
      {% if user.is_superuser %}
      <td><a href="{% url 'supdate' simptom.id %}">Ažuriraj</a></td> 
      <td><a href="{% url 'simptom-brisi' simptom.id %}">Izbriši</a></td> 
      {%endif%}
      </tbody>
      {% endfor %}
      </table>

  

    {% else %}
      <p>Nema simptoma.</p>
    {% endif %}   
    {%endif%}

    {% if Simptom2 %}
    <hr>
    <h5>Popis Drugih simptoma</h5>
    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Naziv</th>
      {% if user.is_superuser %}
      <th scope="col"></th>
      <th scope="col"></th>
      {%endif%}
        </tr>
      </thead>

      {% for simptom in Simptom2 %}
      <tbody>
      
      
      <td>{{simptom.naziv}}</td> 
   
      {% if user.is_superuser %}
      <td><a href="{% url 's2update' simptom.id %}">Ažuriraj</a></td> 
      <td><a href="{% url 'simptom2-brisi' simptom.id %}">Izbriši</a></td> 
      {%endif%}
      </tbody>
      {% endfor %}
      </table>

  

    {% else %}
      <p>Nema simptoma.</p>
    {% endif %}

     {% if Simptom3 %}
     <hr>
    <h5>Popis Trećih simptoma</h5>
    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Naziv</th>
      {% if user.is_superuser %}
      <th scope="col"></th>
      <th scope="col"></th>
      {%endif%}
        </tr>
      </thead>

      {% for simptom in Simptom3 %}
      <tbody>
      
      
      <td>{{simptom.naziv}}</td> 
   
      {% if user.is_superuser %}
      <td><a href="{% url 's3update' simptom.id %}">Ažuriraj</a></td> 
      <td><a href="{% url 'simptom3-brisi' simptom.id %}">Izbriši</a></td> 
      {%endif%}
      </tbody>
      {% endfor %}
      </table>

  

    {% else %}
      <p>Nema simptoma.</p>
    {% endif %}   
          
           
{% endblock %}