{% extends "app/base1.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Brisanje simptoma</h1>

<p>Želite li izbrisati simptom: {{ simptom }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="input-group mb-3">
  <div class="input-group-append">
    
    <button type="submit" class="btn btn-danger">Da</button>
</div>
</div>

{% endblock %}
