{% extends "app/base.html" %}

{% block content %}

<h1>Korisnik: {{ user.get_username }}</h1>

<div style="margin-left:20px;margin-top:20px">

<p><strong>Email:</strong> {{ user.email }}</p>
</div>




{% endblock %}